# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
TAG*

#Makefiles
Makefile
*.make

glsdk_0_5_2/freeglut/config.log
glsdk_0_5_2/freeglut/config.status
glsdk_0_5_2/freeglut/libtool

#RenderDoc Captures
*.rdc
